*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}


main{
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.box{
  width: 300px;
  margin: 50px 15px;
  background-color: #eeeeee;
}

.img1{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.img2{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.img3{
  height: 150px;
  margin: 10px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-num{
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #ff9a4b;
}

.title{
  margin: 5px;

}

footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}